* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 75px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: "  ";
  src: url(../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before, .loader:after {
  content: "";
  border: 1em solid #043b4d;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
header {
  background-image: url(../../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 0;
}

.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  gap: 25px;
}
.navbar-links ul a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  position: relative;
  padding: 10px 0;
}
.navbar-links ul a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  background: white;
}
.navbar-links ul a:hover::after {
  width: 100%;
}

.toggle-button {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .navbar {
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
  }
  header {
    background-image: url(../../images/hero-bg.png);
    background-position: center;
  }
  .intro-section {
    padding-top: 115px !important;
    padding-bottom: 80px;
  }
  .intro-section__desc {
    padding-top: 10px !important;
  }
}
.navbar-icons {
  display: flex;
  gap: 30px;
  padding-top: 10px;
}
.navbar-icons img {
  width: 22px;
  height: 22px;
}
.navbar-icons #myBtn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.intro-section {
  padding: 203px 0;
}
.intro-section__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  color: #07484a;
}
.intro-section__desc {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  color: #07484a;
  padding: 54px 0;
}
.intro-section__btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px !important;
  line-height: 33px;
  color: #fdfbf8;
  padding: 10px 20px;
  background: #70908b;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.intro-section__btn:hover {
  background: #07484a !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.input {
  max-width: 500px;
  width: 100%;
  margin: 0 auto !important;
  padding: 18px 0;
  border: 1.5px solid #e5e7ea;
  border-radius: 20px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  width: 100%;
  background: #ffffff;
  border: 1.5px solid #e5e7ea;
  border-radius: 15px;
}
.password img {
  position: relative;
  right: 25px;
}
.password .input {
  outline: none;
  margin-left: 30px;
  border: none;
  width: 100%;
}

input {
  color: black !important;
}

.input-pic {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 30px;
}

.eye {
  position: absolute;
  right: 20px !important;
}

.pl {
  padding-left: 50px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.modal-header__text {
  color: black;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 590px;
  width: 100%;
  margin: 0 auto;
}

.login {
  max-width: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 15px;
  background: #70908b;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  padding: 20px 0;
  cursor: pointer;
  transition: 0.3s;
}
.login:hover {
  background: #07484a;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: #f5f5f5;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.benefits {
  margin-top: 100px;
  background: #e0eff6;
}
.benefits-txt {
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  padding-top: 100px;
  color: #07484a;
}
.benefits .all-cards {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  padding-bottom: 110px;
}
.benefits .first {
  text-align: center;
}
.benefits .first p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #07484a;
}
.benefits .first h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.benefits .first img {
  background-color: #eeebff;
}
.benefits .second {
  text-align: center;
}
.benefits .second p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #07484a;
}
.benefits .second h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.benefits .second img {
  background-color: #eeebff;
}
.benefits .third {
  text-align: center;
}
.benefits .third p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #07484a;
}
.benefits .third h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.benefits .third img {
  background-color: #eeebff;
}

.newsletter {
  margin-top: 200px;
  background: #e0f6f1;
  margin-bottom: 50px;
}

.ends {
  display: flex;
  flex-direction: row;
}
.ends .texts {
  margin-top: 83px;
  margin-left: 100px;
  padding-right: 150px;
}
.ends .texts h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #07484a;
}
.ends .texts p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  width: 600px;
  color: #07484a;
}
.ends .texts .gmail {
  background: #e0f6f1;
  padding: 20px;
  margin-top: 50px;
  border: none;
}
.ends .texts .btn-ends {
  padding: 20px 24px;
  width: 250px;
  height: 68px;
  background: #70908b;
  border-radius: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 50px;
  color: #fdfbf8;
  border: none;
}

@media screen and (max-width: 980px) {
  .ends {
    flex-direction: column;
  }
}
.hero {
  margin-top: 40px;
}
.hero .explore {
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
}
.hero .all {
  display: flex;
  align-items: center;
  margin-top: 99px;
}
.hero .all .left {
  width: 349px;
}
.hero .all .left .btn {
  padding: 32px 20px;
  gap: 18px;
  margin-top: 100px;
  width: 265px;
  height: 89px;
  color: white;
  background: #70908b;
  border-radius: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.hero .all .left .search {
  margin-top: -30px;
  z-index: 9999;
  display: flex;
  justify-content: center;
}
.hero .all .left .search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 10px;
  max-width: 349px;
  width: 100%;
  height: 66px;
  background: #f0f0f0;
  border-radius: 10px;
}
.hero .all .left .search__form__icon {
  margin-left: 15px;
  cursor: pointer;
}
.hero .all .left .search__form__input {
  outline: none;
  margin-left: 30px;
  border: none;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
.hero .all .left .search__form ::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.hero .all .left .scroll {
  width: 349px;
  height: 700px;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
  margin-top: 110px;
  margin-left: 10px;
}
.hero .all .left .scroll::-webkit-scrollbar {
  width: 5px;
}
.hero .all .left .scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #07484a;
  border-radius: 10px;
}
.hero .all .left .scroll::-webkit-scrollbar-thumb {
  background: #07484a;
  border-radius: 10px;
}
.hero .all .left .scroll::-webkit-scrollbar-thumb:hover {
  background: #07484a;
}
.hero .all .left .scroll p {
  padding: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #07484a;
}
.hero .all .right {
  margin-left: 60px;
}
.hero .all .right img {
  width: 589px;
  height: 321px;
  border-radius: 10px;
}
.hero .all .right-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .all .right-img .room1 {
  background-image: url("../../images/newsletter.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hero .all .right-img .room2 {
  background-image: url("../../images/explore1.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hero .all .right-img .room3 {
  background-image: url("../../images/explore2.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hero .all .right-img .room4 {
  background-image: url("../../images/explore3.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hero .all .right-img .room5 {
  background-image: url("../../images/explore4.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hero .all .right-img .room6 {
  background-image: url("../../images/explore5.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hero .all .right-img .pictures-wrap {
  display: flex;
  gap: 20px;
}

.room1,
.room2,
.room3,
.room4,
.room5,
.room6 {
  width: 489px;
  height: 301px;
}
.room1:hover .all-pic,
.room2:hover .all-pic,
.room3:hover .all-pic,
.room4:hover .all-pic,
.room5:hover .all-pic,
.room6:hover .all-pic {
  display: block;
}

.all-pic {
  display: none;
}
.all-pic::after {
  content: "";
  transition: all 1.5s ease-in-out;
}
.all-pic .rooms {
  text-align: center;
  margin-top: 73px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  color: #fdfbf8;
}
.all-pic .btn-room {
  cursor: pointer;
  padding: 14px 20px;
  margin-top: 54px;
  width: 150px;
  height: 53px;
  background: #e0eff6;
  border-radius: 6px;
  margin-left: 169px;
}

@media screen and (max-width: 1050px) {
  .all {
    flex-direction: column;
  }
  .scroll {
    margin-left: -80px !important;
    display: flex;
    flex-wrap: wrap;
    max-height: 230px;
    width: 600px !important;
    height: 10px;
    overflow: hidden;
    margin: 0 auto;
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .scroll::-webkit-scrollbar {
    width: 5px;
  }
  .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #07484a;
    display: none;
    border-radius: 10px;
  }
  .scroll::-webkit-scrollbar-thumb {
    background: #07484a;
    display: none;
    border-radius: 10px;
  }
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #07484a;
  }
  .scroll p {
    text-align: center;
  }
}
.our_hd {
  max-width: 327px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120.6%;
  color: #FDFBF8;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .our_hd {
    font-size: 24px;
  }
}
.our_corusel-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-width: 577px;
  background: #70908B;
  border-radius: 0px 16px 16px 0px;
  flex: none;
  order: 0;
  flex-grow: 1;
  height: 503px;
}
.our_corusel-left p {
  max-width: 327px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 95.6%;
  color: #FDFBF8;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.our_more {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 95.6%;
  color: #FDFBF8;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.our_btns {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.left_our-btn {
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
  border: none;
}

.our_corusel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.our_corusel-right {
  width: 70%;
}

.our_corusel-info {
  max-width: 382px;
  min-width: 320px;
  height: 537px;
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  order: 0;
  flex-grow: 0;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.our_corusel-info:hover .our_corusel-btn {
  display: block;
}

.our_corusel-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 95.6%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 20px 24px;
  position: absolute;
  bottom: 40px;
  bottom: none;
  left: 91px;
  background: #FFFFFF;
  border-radius: 6px;
  display: none;
}

.our_corusel-bg1 {
  background-image: url(../../images/our1.png);
}

.our_corusel-bg2 {
  background-image: url(../../images/our2.png);
}

.our_corusel-bg3 {
  background-image: url(../../images/our3.png);
  background-size: cover;
}

.our_corusel-box {
  display: flex;
}

.popular_hd {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484A;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  margin-bottom: 50px;
}

.corusel_sliks-container {
  display: flex !important;
  gap: 40px !important;
}

.corusel_slik-div {
  padding: 60px 40px;
  margin-left: 20px !important;
  max-width: 430.75px !important;
  max-height: 585px !important;
  background: #CAF3E5;
  border-radius: 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  z-index: 1;
}

.bg_slick-card {
  max-width: 204px;
  height: 270px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.popular {
  position: relative;
  background-image: url(../../images/product-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .popular_hd {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  .popular_hd {
    font-size: 34px;
  }
  #population_btn {
    padding: 24px 18px;
    width: 265px;
    height: 73px;
    background: #70908B;
    border-radius: 10px;
    font-size: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
.slick-track {
  display: flex;
  gap: 25px !important;
}

.slick_bg-img1 {
  background-image: url(../../images/product1.png);
  margin-left: 20px !important;
}

.corusel_bg1 {
  background: #CAF3E5;
}

.slick_bg-img2 {
  background-image: url(../../images/product2.png);
}

.corusel_bg2 {
  background: #E0EFF6;
}

.slick_bg-img3 {
  background-image: url(../../images/product3.png);
}

.corusel_bg3 {
  background: #EEEBFF;
}

.slick_bg-img4 {
  background-image: url(../../images/product4.png);
}

.corusel_bg4 {
  background: #FFF4E7;
}

.slick_bg-img5 {
  background-image: url(../../images/product1.png);
}

.corusel_bg5 {
  background: #EEEBFF;
}

.for-pd {
  padding-left: 20px !important;
}

.community-corusel-ava {
  margin-top: 50px;
  margin-left: 40px;
  padding: 24px;
  max-width: 420px !important;
  height: 333px;
  background: #ffffff;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* .corusel_sliks-container{
display: flex !important;
gap: 20px !important;
} */
.corusel_slik-div h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #70908B;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.corusel_slik-div p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #70908B;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.corusel_slik-div p b {
  margin-top: 20px;
}

.all_items {
  text-align: center;
  margin-bottom: 20px;
}

#population_btn {
  padding: 24px 20px !important;
  margin-top: 100px;
  background: #70908B;
  border-radius: 10px;
  order: 3;
  flex-grow: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  border: 1px solid #70908B;
  color: #FFFFFF;
}

.special {
  margin-top: 200px;
}
.special-page {
  margin-bottom: 103px;
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 96px;
  color: #07484a;
}
.special-all {
  display: flex;
}
.special .left-room .card {
  display: flex;
}
.special .left-room .larkin {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  margin-top: 20px;
  color: #07484a;
  margin-bottom: 15px;
}
.special .left-room .price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
  /* or 32px */
  margin-top: 15px;
  letter-spacing: -0.02em;
  color: #07484a;
}
.special .left-room .add {
  margin-left: 270px;
  margin-top: 25px;
  padding: 16px 24px;
  width: 196px;
  height: 66px;
  background: #70908b;
  border-radius: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fdfbf8;
}
.special .right-room {
  margin-left: 100px;
}
.special .desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #07484a;
}
.special .txt {
  height: 130px;
  margin-top: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
  /* or 28px */
  letter-spacing: -0.02em;
  color: #07484a;
}

.more {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: 25px;
  width: 101.02px;
  height: 21px;
}

.img-pic {
  margin-top: -15px;
  margin-top: 30px;
  display: flex;
}
.img-pic img:nth-child(1) {
  width: 240px;
  height: 140px;
}

a {
  text-decoration: none;
}

.mark {
  margin-left: 10px;
}

#show .package {
  height: 500px;
  width: 800px;
  object-fit: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  text-align: center;
  margin-top: 100px;
  color: #07484a;
}
.testimonials p {
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #07484a;
}

.test {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.test .psudo {
  height: 450px;
  width: 500px;
  border-radius: 10px;
  background-image: url("../../images/testimonial.png");
  background-repeat: no-repeat;
}
.test p {
  max-width: 800px;
  text-align: left;
}
.test .experience {
  display: flex;
  align-items: center;
}
.test .experience p {
  margin-top: 90px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #07484a;
}

.vector {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

.one {
  background: #e0eff6;
}

.two {
  background: #F9D9DA;
}/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=main.css.map */
