@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/reset";
@import "./base/typography";

@import "./components/buttons";
@import "./components/carousel";
@import "./components/dropdown";
@import "./components/loader";

@import "./layout/footer";
@import "./layout/forms";
@import "./layout/header";

@import "./sections/chooseCar";
@import "./sections/communityCarousel";
@import "./sections/hero";
@import "./sections/master";
@import "./sections/project";
@import "./sections/service";

@import "./media/media\(1200px\)";
@import "./media/media\(960px\)";
@import "./media/media\(760px\)";
@import "./media/media\(480px\)";
@import "./media/media\(320px\)";

@import "./pages/home.scss";


