* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 75px;

}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

@font-face {
    font-family: "Inter";
    src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
  }
@font-face {
    font-family: "Open Sans";
    src: url(../../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
  }
@font-face {
    font-family: "Playfair Display";
    src: url(../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
  }
@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
  }